.side-links{

}

.side-link1{
    margin-top: 15px;
    margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}
.side-link1 img{
    margin-left: 12px;

}

.side-link1 p:hover{
    color:rgb(56, 126, 184);
}


.side-link1 p{
    float: right;
    margin-top: 2px;
    margin-right: 69px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link2{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}

.side-link2 img{
    margin-left: 12px;
}
.side-link2 p{
    float: right;
    margin-top: 2px;
    margin-right: 85px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link2 p:hover{
    color:rgb(56, 126, 184);
}

.side-link3{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}

.side-link3 img{
    margin-left: 12px;
}
.side-link3 p{
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link3 p:hover{
    color:rgb(56, 126, 184);
}

#sideflex{
    display: flex;
    flex-direction: column;

}

.side-link4{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}

.side-link4 img{
    margin-left: 12px;
}
.side-link4 p{
    float: right;
    margin-top: 2px;
    margin-right: 90px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link4 p:hover{
    color:rgb(56, 126, 184);
}

.side-link5{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}

.side-link5 img{
    margin-left: 12px;
}
.side-link5 p{
    float: right;
    margin-top: 2px;
    margin-right: 90px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link5 p:hover{
    color:rgb(56, 126, 184);
}

.side-link6{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  line-height:35px;
    cursor: pointer;

}

.side-link6 img{
    margin-left: 12px;
}
.side-link6 p{
    float: right;
    margin-top: 2px;
    margin-right: 98px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  margin-bottom: 0;
}

.side-link6 p:hover{
    color:rgb(56, 126, 184);
}
