<div class="layers-container">
    <h4>Layers</h4>
    <div class="layer" *ngFor="let layer of layers">

        <label class="checkbox">
            <span class="checkbox__input">
                <input type="checkbox" (change)="layer.toggleVisibility()">
                <span class="checkbox__control">
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                    </svg>
                </span>
            </span>
            <span class="radio__label">{{layer.displayName}}</span>
        </label>


        <!--<input type="checkbox" title="{{layer.description}}"> {{layer.description}}-->
        <!--<input type="checkbox" (click)="toggleLayer(layer.layerId)"><span>{layer.description}</span>-->
    </div>
</div>
<div id="ledgend-container">
 
</div>