<!--<div class="sensor-dropdown">-->
<!--  <select #sensorSelectDropdown (change)="setGraphSensor(sensorSelectDropdown.value)">-->
<!--    <option disabled hidden>Choose a sensor</option>-->
<!--    <option value="MAF">MAF</option>-->
<!--    <option *ngFor="let sensorName of sensorList; index as i;" value="{{sensorName}}">{{sensorName}}</option>-->
<!--  </select>-->
<!--</div>-->
<!--<div class="sensor-desc">-->
<!--  {{sensorDictionary[activeSensor].description}}-->
<!--</div>-->
<div>
  <div class="row">
    <div class="col-10">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngFor="let sName of sList">
        <label [ngClass]="(selection.includes(sName) ? 'btn btn-primary btn-sm': 'btn btn-secondary btn-sm')">
          <input id="{{sName}}" type="checkbox" (click)="toggleSelection(sName)">{{sName}}
        </label>
      </div>
    </div>
    <div class="col-2">
      <div class="float-right">
        <select (change)=" changedHourFilter($event.target.value)">
          <option *ngFor="let item of filterHours | keyvalue" [value]="item.key">
            {{item.value}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-spin-fade-rotating"><p style="color: white" > Loading... </p></ngx-spinner>

    <div id="chartContainer"></div>
  </div>
